# SSH-Tunnel (nur lokal nötig; auf dem Server diese Zeilen weglassen / leer lassen)
HOST_SSH=85.215.40.43
USER_SSH=christian_schott
PW_SSH=

# Datenbank
HOST_DB=localhost
PORT=5432
DATABASE=quant_advisor
DB_USER=christian_schott
DB_PASSWORD=
